{% extends 'admin/_template/template.html.twig' %}

{% block body %}
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12 b-r"><h3 class="m-t-none m-b">Perfis de usuário</h3>
                {{ form_start(form, {'attr': {'id':'form', 'data-url': url}}) }}
                <div class="form-group">
                    {{ form_label(form.nome) }}
                    {{ form_widget(form.nome) }}
                </div>
                {{ form_row(form._token) }}
                <div>
                    <button class="btn btn-primary pull-right m-t-n-xs" id="btn-salvar" type="submit">
                        <strong>Salvar</strong>
                    </button>
                    <a href="{{ path('listar-perfis-usuario') }}">
                        <button class="btn btn-outline btn-link pull-right m-t-n-xs" type="button">
                            <strong>Voltar</strong>
                        </button>
                    </a>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}