{% extends 'admin/_template/template.html.twig' %}

{% block titulo %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Perfis de usuários</h2>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a href="{{ path('form-perfil-usuario') }}" class="btn btn-primary"><i class="fa fa-plus"> </i> Cadastrar</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nome </th>
                                    <th class="text-right">Operação </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for p in perfis %}
                                <tr>
                                    <td>{{ p.nome }}</td>
                                    <td class="text-right">
                                        <a href="{{ path('form-perfil-usuario', {'id': p.id}) }}">
                                            <button type="button" class="btn btn-sm btn-success">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </a>
                                        <button type="button" class="btn btn-sm btn-danger btn-delete" data-url="/usuario/perfil/deletar/{{ p.id }}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}