{% extends '@Template/template.html.twig' %}

{% block body %}
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12 b-r">
                <h3 class="m-t-none m-b">Dados Cadastrais</h3>
            </div>
        </div>
        <div class="row">
            {{ form_start(form, {'attr': {'id':'form', 'data-url': url}}) }}
            <div class="col-sm-12">
                <div class="form-group">
                    {{ form_label(form.nome) }}
                    {{ form_widget(form.nome) }}
                </div>
            </div>
            <div class="col-sm-12 juridica">
                <div class="form-group">
                    {{ form_label(form.fantasia) }}
                    {{ form_widget(form.fantasia) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_label(form.tipoPessoa) }}
                    {{ form_widget(form.tipoPessoa) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_label(form.cpfCnpj) }}
                    {{ form_widget(form.cpfCnpj) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_label(form.rgIe) }}
                    {{ form_widget(form.rgIe) }}
                </div>
            </div>
            <div class="col-sm-4 fisica">
                <div class="form-group">
                    {{ form_label(form.sexo) }}
                    {{ form_widget(form.sexo) }}
                </div>
            </div>
            <div class="col-sm-4 fisica">
                <div class="form-group">
                    {{ form_label(form.dataNascimento) }}
                    {{ form_widget(form.dataNascimento) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_label(form.contato.telefone) }}
                    {{ form_widget(form.contato.telefone) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_label(form.contato.celular) }}
                    {{ form_widget(form.contato.celular) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_label(form.contato.email) }}
                    {{ form_widget(form.contato.email) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    {{ form_label(form.endereco.cep) }}
                    {{ form_widget(form.endereco.cep) }}
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    {{ form_label(form.endereco.endereco) }}
                    {{ form_widget(form.endereco.endereco) }}
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    {{ form_label(form.endereco.numero) }}
                    {{ form_widget(form.endereco.numero) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_label(form.endereco.bairro) }}
                    {{ form_widget(form.endereco.bairro) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_label(form.endereco.municipio) }}
                    {{ form_widget(form.endereco.municipio) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_label(form.endereco.estado) }}
                    {{ form_widget(form.endereco.estado) }}
                </div>
            </div>
        {{ form_widget(form.endereco.codigoIbge) }}
        {{ form_row(form._token) }}
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary pull-right m-t-n-xs" id="btn-salvar" type="submit">
                    <strong>Salvar</strong>
                </button>
                <a href="{{ path('listar-pessoas') }}">
                    <button class="btn btn-outline btn-link pull-right m-t-n-xs" type="button">
                        <strong>Voltar</strong>
                    </button>
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/Admin/Pessoa/pessoa.js') }}"></script>
    <script src="{{ asset('js/Admin/Pessoa/endereco.js') }}"></script>
{% endblock %}