<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasha - Blogging HTML5 Template</title>
    <meta name="description" content="Sasha - Blogging HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="https://via.placeholder.com/10x10">

    <!-- Import Icon Packs -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/elegent-icons.css') }}">

    <!-- Import External Scrpit CSS Files -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/portal/owl.carousel.css') }}">

    <!-- Import Template CSS Files -->
    <link rel="stylesheet" href="{{ asset('css/portal/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/portal/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/portal/themes.css') }}">
    <link rel="stylesheet" href="{{ asset('css/portal/responsive.css') }}">

    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script> -->

    <script src="{{ asset('js/portal/modernizr-2.8.3.min.js') }}"></script>

</head>


<body>

<div class="overlay-wrapper">

    <header class="masthead">
        <div class="header-top">
            <div class="container">
                <a class="navbar-brand hidden-xs" href="./"><img src="https://via.placeholder.com/206x44" alt="Site Logo"></a>
                <div class="menu-search">
                    <div class="form-trigger"><i class="icon_search"></i></div>
                    <form action="#">
                        <input type="text" name="search" id="menu-search" placeholder="Search here..">
                    </form>
                </div>


            </div><!-- /.container -->
        </div><!-- /.header-top -->

        <div class="header-bottom">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand visible-xs" href="./"><img src="https://via.placeholder.com/104x21" alt="Site Logo"></a>
                    </div>

                    <div id="main-menu" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="menu-item active"><a href="categories.html">Home</a></li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Categorias</a>
                                <ul class="sub-menu children">
                                    <li><a href="#">Teste</a></li>
                                </ul>
                            </li>
                        </ul><!-- /.navbar-nav -->
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div><!-- /.container -->
        </div><!-- /.header-bottom -->
    </header><!-- /.masthead -->

    {% block banner %} {% endblock %}
    {% block content %} {% endblock %}

    <footer class="site-footer colophon">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <a href="./" class="footer-logo pull-left"><img src="https://via.placeholder.com/49x10" alt="Logo"></a><!-- /.footer-logo -->
                </div>

                <div class="col-sm-6">
                    <div class="copyright text-center">
                        © <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div><!-- /.copyright -->
                </div>

                <div class="col-sm-3">
                    <div class="footer-social pull-right">
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div><!-- /.footer-social -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </footer><!-- /.site-footer -->

</div><!-- /.overlay -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/portal/plugins.js') }}"></script>
<script src="{{ asset('js/portal/main.js') }}"></script>
</body>
</html>
