{% extends 'base.html.twig' %}

{% block body %}
<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">IN+</h1>

        </div>
        <h3>Welcome to IN+</h3>
        <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
            <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
        </p>
        <p>Login in. To see it in action.</p>
    <form class="m-t" role="form" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Usuário"  value="{{ last_username }}" name="login" id="inputUsuario" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha" name="password" id="inputPassword" required>
        </div>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Lembrar de mim
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    {% if error %}
        <div class="alert alert-danger">Email e/ou senha incorretos.</div>
    {% endif %}
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>
{% endblock %}

